apiVersion: v1
kind: Service
metadata:
  name: {{ include "recsys.fullname" . }}-api
  labels:
    {{- include "recsys.labels" . | nindent 4 }}
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "recsys.name" . }}
    app.kubernetes.io/component: api
