# All dotfiles (explicit allowlist below)
**/.*
!.gitignore
!.env*.example
!**/.github/
!**/.goreleaser.yaml
!**/.golangci.yml
!.reuse/
!.markdownlint-cli2.jsonc

**/tmp/
**/bin/

# mkdocs
# If adding new entries, sync between mkdocs.yml, .gitignore, docs_sync.sh
docs/pricing/
docs/commercial/
docs/licensing/
docs/eval-license/
docs/security/
docs/support/
docs/contributing-repo/
docs/code-of-conduct/
docs/governance/
docs/licenses/
