/* Swagger UI iframe styling for mkdocs-swagger-ui-tag */

iframe.swagger-ui-iframe {
  display: block;
  width: 100%;
  border: 0;
  /* Height is set dynamically by swagger-iframe-autosize.js */
}

/* Ensure the iframe can expand without creating nested scrollbars */
.md-content__inner {
  overflow: visible;
}
