name: scorecard

on:
  branch_protection_rule:
  schedule:
    - cron: "0 3 * * 1"
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  analysis:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5

      - name: Scorecard analysis
        uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a
        with:
          results_file: scorecard.sarif
          results_format: sarif
          publish_results: true
